.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* For general iPad layouts */
  .collection-preview {
    .preview {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 600px) {
  /* For General Phones */
  .collection-preview {
    .preview {
      grid-template-columns: 1fr;
    }
  }
}